---
import { colorMap } from "@rpkm/data/sizeColors";

const { houseData = {} } = Astro.props;
const { nameThai, image, sizeLetter, chosenCount, capacity } = houseData;

let colorData = colorMap.find((color) => color.sizeLetter == sizeLetter);
if (!colorData) {
  colorData = { sizeLetter: "", bgColor: "#000", textColor: "#fff" };
}
---

<div
  class="relative h-[120px] w-[80px] cursor-pointer bg-white p-1"
  data-name={nameThai}
  id={`house-card-${nameThai}`}
>
  <img
    src={image
      ? "/images/rpkm/houses/" + image
      : "/images/rpkm/house-blank.png"}
    class="h-[73px] w-[73px] object-cover pb-1"
  />
  <!-- Upper Content -->
  <div class="flex items-center justify-between gap-[6px] pb-1">
    <p
      class="w-auto overflow-hidden text-xs font-semibold text-ellipsis whitespace-nowrap text-[#2B2D42]"
    >
      {nameThai}
    </p>

    <p
      class="flex aspect-square w-[18px] items-center justify-center rounded-full px-[3px] py-[1px] text-[8px] font-semibold"
      style={`background-color: ${colorData.bgColor}; color: ${colorData.textColor};`}
    >
      {sizeLetter}
    </p>
  </div>

  <!-- Lower Content -->
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-[1px] text-[8px]">
      <p class="text-[#313131E5]">
        <span
          style={`color: ${chosenCount == capacity ? "#FF1493" : "#68A987"};`}
          >{chosenCount}</span
        >/{capacity}
      </p>
      <img src="/images/rpkm/person-icon.svg" width="12" height="12" />
    </div>
    <img src="/images/rpkm/vector-icon.svg" width="8" height="8" />
  </div>
</div>
