---
const { houseData = {} } = Astro.props;
const {
  id,
  thName,
  enName,
  image,
  thDescription,
  enDescription,
  instagramURL,
  size,
  amount,
  capacity,
} = houseData;

const colors = [
  { size: "S", bgColor: "#0FF", textColor: "#000" },
  { size: "M", bgColor: "#FF1493", textColor: "#fff" },
  { size: "L", bgColor: "#FFB6C1", textColor: "#000" },
  { size: "XL", bgColor: "#D38DD8", textColor: "#000" },
  { size: "XXL", bgColor: "#2B2D42", textColor: "#fff" },
];

let colorData = colors.find((color) => color.size == size);
if (!colorData) {
  colorData = { size: "", bgColor: "#000", textColor: "#fff" };
}
---

<div
  class="relative h-[120px] w-[80px] cursor-pointer bg-white p-1"
  data-name={thName}
  id={`house-card-${thName}`}
>
  <img
    src={image
      ? "/images/rpkm/houses/" + image
      : "/images/rpkm/house-blank.png"}
    class="h-[73px] w-[73px] object-cover pb-1"
  />
  <!-- Upper Content -->
  <div class="flex items-center justify-between gap-[6px] pb-1">
    <p
      class="w-auto overflow-hidden text-xs font-semibold text-ellipsis whitespace-nowrap text-[#2B2D42]"
    >
      {thName}
    </p>

    <p
      class="flex aspect-square w-[18px] items-center justify-center rounded-full px-[3px] py-[1px] text-[8px] font-semibold"
      style={`background-color: ${colorData.bgColor}; color: ${colorData.textColor};`}
    >
      {size}
    </p>
  </div>

  <!-- Lower Content -->
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-[1px] text-[8px]">
      <p class="text-[#313131E5]">
        <span style={`color: ${amount == capacity ? "#FF1493" : "#68A987"};`}
          >{amount}</span
        >/{capacity}
      </p>
      <img src="/images/rpkm/person-icon.svg" width="12" height="12" />
    </div>
    <img src="/images/rpkm/vector-icon.svg" width="8" height="8" />
  </div>
</div>
