---
const { house = {} } = Astro.props;
const { name, imageURL, rank } = house;

const rankWidth =
  rank === "houseRankSub"
    ? "55"
    : rank == "houseRank1" || rank == "houseRank2"
      ? "30"
      : "24";
const rankHeight =
  rank === "houseRankSub"
    ? "55"
    : rank == "houseRank1" || rank == "houseRank2"
      ? "30"
      : "24";
---

{
  name ? (
    <div class="relative flex h-[100px] w-[80px] flex-col gap-2">
      <div class="relative h-[73.442px] w-[73.442px] bg-white p-1">
        <img
          src={`/images/rpkm/rank-${rank}.svg`}
          class="absolute top-0 left-1/2 z-20 -translate-x-1/2 -translate-y-1/2 transform"
          width={rankWidth}
          height={rankHeight}
        />
        <img
          src={imageURL ? imageURL : "/images/rpkm/house-blank.png"}
          class="h-auto w-full object-cover pb-1"
        />
        <p class="h-full w-full overflow-hidden text-center text-xs font-semibold text-ellipsis whitespace-nowrap text-[#2B2D42]">
          {name}
        </p>
      </div>
      <button class="flex cursor-pointer items-center justify-center">
        <img src="/images/rpkm/bin-icon.svg" width="14" height="18" />
      </button>
    </div>
  ) : (
    <button
      class="relative flex h-[100px] w-[80px] cursor-pointer items-center justify-center border-2 border-dashed border-[#D38DD8] transition-colors hover:bg-[#D38DD8]/20"
      data-rank={rank}
    >
      <img
        src={`/images/rpkm/rank-${rank}.svg`}
        class="absolute top-0 left-1/2 z-20 -translate-x-1/2 -translate-y-1/2 transform"
        width={rankWidth}
        height={rankHeight}
      />
      <img src={"/images/rpkm/plus-icon.svg"} class="h-5 w-5" />
    </button>
  )
}
