---
import "@/styles/global.css";
import Footer from "@common/Footer.astro";
import Navbar from "@common/Navbar.astro";

import Snackbar from "@/components/common/Snackbar.astro";

interface Props {
  title?: string;
  description?: string;
  variant?: "rpkm_home" | "rpkm_summary" | "rpkm_workshops";
}

const backgroundImages = {
  rpkm_home: "/images/rpkm/bg/home.png",
  rpkm_workshops: "/images/rpkm/bg/rpkm_workshops.png",
  rubpuen: "/images/rpkm/bg/rubpuen.png",
  rpkm_summary: "/images/rpkm/bg/rpkm_summary.png",
};

const { title, description, variant = "rpkm_home" } = Astro.props;
const backgroundImage = backgroundImages[variant];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="min-h-screen min-w-screen bg-slate-500">
    <Snackbar />
    <div
      class="mx-auto flex min-h-screen max-w-[440px] flex-col gap-8 bg-cover bg-center bg-no-repeat text-white"
      style={`background-image: url(${backgroundImage})`}
    >
      <Navbar
        variant="rpkm"
        navigateBackHref="/rpkm/home"
        hideLogo
        bgTransparent={variant === "rpkm_home"}
      />
      <Navbar
        variant="rpkm"
        navigateBackHref="/rpkm/home"
        hideLogo
        bgTransparent={variant === "rpkm_home"}
      />

      <!-- Logo -->
      <img
        src="/images/rpkm/freshmen-fest-logo.svg"
        class="mx-auto h-[136px] w-[301.182px]"
      />

      <main class="flex-grow px-3">
        <slot />
      </main>
      <Footer variant={variant} />
    </div>
  </body>
</html>
